body{
	background-color: #f9db57;
	margin-left: 8%;
	font-weight: bold;
}

h1{
	margin-top: 3%;
	color: #4D4424;
	font-family: Arial;
}

table{
	font-weight: bold;
	color: white;
	background-color: #A6BD00;
	font-family: Courier New;
	vertical-align: middle;
	table-layout: fixed;
	margin-top: 2%;
	border : 2%;
	height: 400px;
	width: 700px;
	padding-left: 2%;
	border-radius: 5px;
	
}

input[type=text] {
	border: 1.5px solid #798A00;
    border-radius: 5px;  
    box-sizing: border-box;  
	background-color: white;
}

input[type=text]:focus {
    background-color: #B8BD97;
}

.button{
  display: block;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #13b188;
  font-family: Courier New;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #849700;
}

.button:hover {
	background-color: #027E59;
}

/*
green #13b188
yellow #f9db57
*/